<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->

    <link href="/css/admin.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:8080/main">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:onclick="redirect()">dev story</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:onclick="User()">
                <i class="fas fa-fw fa-tachometer-alt" ></i>
                <span>회원 관리</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" th:onclick="Write()">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>글 관리</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">



    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="mt-5">





            <div class="container-fluid" >
                <div class="article-list table-common con" >
                    <table style='width:100%;table-layout:fixed;' >
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일시</th>
                            <th scope="col">관리</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${postsList}" >
                            <td style="text-align: start;" th:text="${post.id}"></td>
                            <td style="text-align: start;" th:text="${post.title}"></td>
                            <td style="text-align: start;" th:text="${post.user}" ></td>
                            <td style="text-align: start;" th:text="${#temporals.format(post.dates,'yyyy-MM-dd HH:mm')}" ></td>
                            <td style="display: flex;" class="d-flex justify-content-start">
                                <a th:href="@{|/admin/delete/${post.id}|}"
                                   class="btn btn-outline-secondary"
                                   >삭제</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>




            </div>


        </div>

    </div>
</div>



<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
</body>

</html>

<script>

    function User(){
        window.location.href= 'http://localhost:8080/admin';
    }
    function Write(){
        window.location.href= 'http://localhost:8080/adminwrite';
    }


</script>