<link href="../static/css/card.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="card">
        <div class="card__header">
            <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
            <h4>What's new in 2022 Tech</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
        <div class="card__footer">
            <div class="user">
                <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                <div class="user__info">
                    <h5>Jane Doe</h5>
                    <small>2h ago</small>
                </div>
            </div>
        </div>
    </div>
</div>