
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<div th:fragment="formErrorsFragment" class="alert alert-danger"-->
<!--     role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--</div>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
</head>
<body>
<div>
    <h1>에러 발생!</h1>
    <p>오류가 발생했습니다. 죄송합니다. </p>
    <!-- 이 부분 수정 -->
    <p th:if="${#fields.hasErrors('*')}" th:errors="*{all}">Error(s) details: </p>
    <p th:unless="${#fields.hasErrors('*')}">No error details</p>
</div>
</body>
</html>
